@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --MORADO: #6846ec;
    --VERDE: #2bebc8;
    --NEGROCLARO: #27292d;
    --NEGROINTERMEDIO: #1e1f23;
    --NEGROOSCURO: #151718;
    --NEGROPURO: #0d0c0f;
    /*OPCIONAL*/
    --GRIS: #6a6a6a;
    --BLANCO: #FFF;
    --ROJO: #e10049;
}


.a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


.img-container {
    height: 180px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

    .img-container img {
        transform: skew(0deg, -13deg);
        height: 250px;
        margin: -35px 0px 0px -70px;
    }

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}

.text-container:hover {   
    background: #2bebc8;
   /* transform: scale(1.02);*/
}

    .text-container:hover h3 {
        color: #151718;
        background-color: transparent;
        border-color: transparent;
        /* transform: scale(1.02);*/
    }

    .text-container:hover div .btnVer {
        color: #2bebc8;
        background-color: #151718;
        border-color: #151718;
        
    }



    .text-container h3 {
        margin: 20px 0px 20px 10px;
        color: #2bebc8;
        font-size: 20px;
        background-color: #151718;
        border: solid 2px #151718;
        border-radius: 6px;
        padding: 10px;
        width: 80%;
        
    }

.text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #1e1f23;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
}

.cincoporzona {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
}

.cincozona {
    
    padding: 20px;
    padding-top: 15px;
    width: 17.9%;
    height: 175px;
    margin: 20px;
    margin-right: 0px;
    margin-left: 15px;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid none;
    border-radius: 7px;
    margin-right: 15px;  
}


.btnVer{
    display: block;
    background-color: #6846ec;
    font-weight: 800;
    color: #FFF;
    padding: 3px;
    border: 2px solid #6846ec;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    font-family: Poppins;
    text-align: center;
    width: 80%;
    margin-left: 1vw;
}

    .btnVer:hover {
        transform: scale(1.03);
    }

h1{
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 30px;
    margin-top: 5vh;
}


.blog-card {
    position: absolute;
    height: 370px;
    width: 55%;
    max-width: 800px;
    margin: auto;
    border-radius: 25px;
    background: #1e1f23;
    box-shadow: 0px 0px 50px #000;
    top: 70vh;
    left: 33vw;
}

.inner-part {
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

#imgTap:checked ~ .inner-part {
    padding: 0;
    transition: .1s ease-in;
}

.inner-part .img {
    height: 280px;
    width: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;

    box-shadow: 2px 3px 15px #1e1f23;
}

#imgTap:checked ~ .inner-part .img {
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
}

.img img {
    height: 90%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
}

#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3,
#tap-4:checked ~ .inner-part .img-4 {
    opacity: 1;
    transition-delay: .2s;
}

.contenido {
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
    opacity: 0;
    transition: .6s;
}

#imgTap:checked ~ .inner-part .contenido {
    display: none;
}

#tap-1:checked ~ .inner-part .contenido-1,
#tap-2:checked ~ .inner-part .contenido-2,
#tap-3:checked ~ .inner-part .contenido-3,
#tap-4:checked ~ .inner-part .contenido-4 {
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
}

.contenido .titulo {
    display: block;
    color: #FFF;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    max-width: 80%;
}

.contenido .title {
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.contenido .text {
    color: #4e4a67;
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
}

.contenido .button {
    background-color: #2bebc8;
    font-weight: 800;
    color: #151718;
    padding: 3px;
    border: 2px solid #2bebc8;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    font-family: Poppins;
    text-align: center;
    width: 40%;
}

    .contenido .button:hover {
        background: #6846ec;
        color: #fff;
        border-color: #6846ec;
    }

.sliders {
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
}

#imgTap:checked ~ .sliders {
    display: none;
}

.sliders .tap {
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

    .sliders .tap:hover {
        background: #cccccc;
    }

    .sliders .tap:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: -100%;
        background: #6846ec;
        border-radius: 10px;
        transform: scaleX(0);
        transition: transform .6s;
        transform-origin: left;
    }

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before,
#tap-4:checked ~ .sliders .tap-4:before{
    transform: scaleX(1);
    width: 100%;
}

.tabla {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Poppins;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    border: 0px solid #151718;
    color: white;
    width: 77vw;
}

    .tabla thead tr {
        background: #6846ec;
        color: #ffffff;
        text-align: left;
    }

    .tabla tbody tr th {
        background: #6846ec;
    }

    .tabla th,
    .tabla td {
        padding: 12px 15px;
    }

    .tabla td:last-of-type{
        width: 5%;
    }

    .tabla tbody tr {
        border-bottom: 1px solid #151718;
    }

        .tabla tbody tr:nth-of-type(even) {
            background-color: #1e1f23;
        }

        .tabla tbody tr:last-of-type {
            border-bottom: 2px solid #2bebc8;
        }


.lblSeccion {
    color: #2bebc8;
    font-weight: 700;
    font-size: 25px;
    background-color: #27292d;
    border: solid 2px #27292d;
    border-radius: 7px;
    padding: 10px;
    line-height: 60px;
}

.btnAprobar {
    padding: 5px;
    background-color: #2bebc8;
    border: 3px solid #2bebc8;
    border-radius: 5px;
    color: #151718;
    width: 95%;
    font-family: Poppins;
    font-weight: 500;
}

    .btnAprobar:hover {
        background-color: #34B49D;
        border-color: #34B49D;
        opacity: 0.9;
    }


.icon {
    display: inline;
    float: right;
    color: #FFF;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.unoporzona {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    margin-bottom: 360px;
    position: absolute;
    top: 115vh;
    width: 83vw;

}

.unocompleto {
    background: #1e1f23;
    color: #FFF;
    padding: 20px;
    width: 96.5%;
    margin: 20px;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid #1e1f23;
    border-radius: 5px;
}


h3{
   
}

.ddl {
    border-radius: 5px;
    font-family: Poppins;
    padding: 5px;
    font-weight: bold;
    border: solid 2px #2bebc8;
    background-color: #2bebc8;
    color: #151718;
    width: 20%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 15px;
}

    .ddl:hover {
        background-color: #6846ec;
        border: 2px solid #6846ec;
        color: #fff;
    }



.button2 {
    background-color: #6846ec;
    font-weight: 800;
    color: #fff;
    padding: 3px;
    border: 2px solid #6846ec;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    font-family: Poppins;
    text-align: center;
    width: 10%;
    margin-left: 1vw;
    display: inline;
}

    .button2:hover {
        transform: scale(1.03);
        background-color: #2bebc8;
        border: 2px solid #2bebc8;
        color: #151718;
    }


.cbx{
    color: white;
    font-weight: 700;
    font-size: 16px;
    width:1vw;
}

.unocompleto input[type="checkbox"] {
    display: inline;
    width: 4vw;
    height: 25px;
    filter: hue-rotate(35deg) brightness(110%);
}

.ddl2 {
    border-radius: 5px;
    font-family: Poppins;
    padding: 5px;
    font-weight: bold;
    border: solid 2px #2bebc8;
    background-color: #2bebc8;
    color: #151718;
    width: 20%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 25vw;
    font-size: 15px;
}

.ddl2:hover {
    background-color: #6846ec;
    border: 2px solid #6846ec;
    color: #fff;
}



.button3 {
    background-color: #6846ec;
    font-weight: 800;
    color: #fff;
    padding: 3px;
    border: 2px solid #6846ec;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    font-family: Poppins;
    text-align: center;
    width: 10%;
    margin-left: 1vw;
    display: inline;

}

    .button3:hover {
        transform: scale(1.03);
        background-color: #2bebc8;
        border: 2px solid #2bebc8;
        color: #151718;
    }

