@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

div.c {
    width: 1270px;
}

.contenedor {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 30px;
}

.contenedorA {
    width: 70%;
    padding-left: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    position: absolute;
    top: 1450px;
    left: 180px;
}

.box {
    left: auto;
    color: whitesmoke;
    width: 50px;
    height: 50px;
    background: #27292d;
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border-color: #27292d;
}

.btnboxx {
    left: auto;
    color: white;
    width: 70px;
    height: 50px;
    background: #6846ec;
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border-color: #6846ec;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .btnboxx:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 15px #151718;
    }

    .btnboxx:hover {
        color: white;
        background: #6846ec;
    }

.box:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px #6846ec;
}

.box:hover {
    color: white;
    background: #6846ec;
}

.contenedor2 {
    position: absolute;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.boxPrin {
    color: whitesmoke;
    width: 700px;
    height: 400px;
    background: #27292d;
    margin-top: 20px;
    margin: auto;
    box-sizing: border-box;
    font-size: 18px;
}


.boxdiv {
    left: auto;
    color: #2bebc8;
    width: 200px;
    height: 250px;
    background: rgba(0, 0, 0, 0.15);
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    display: inline-block;
    position: relative;
}

    .boxdiv:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    }

    .boxdiv p {
        font-weight: 700;
        display: block;
    }

    .boxdiv i {
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 65px;
        display: block;
    }

.btn {
    left: auto;
    color: whitesmoke;
    width: 180px;
    height: 70px;
    background: #6846ec;
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border-color: #6846ec;
    transition: 0.5s ease;
    cursor: pointer;
}

    .btn:hover {
        background: #6846ec;
    }

    .btn:focus {
        background: #6846ec;
    }

.boxdiv2 {
    left: auto;
    color: whitesmoke;
    width: 900px;
    height: 100px;
    background: #27292d;
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border-color: #27292d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

    .boxdiv2:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    }

.Imagenestt {
    width: 80px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.unoporzona {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.unocompleto {
    background: var(--NEGROCLARO);
    color: #FFF;
    padding: 20px;
    width: 96.5%;
    margin: 20px;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid #27292d;
    border-radius: 5px;
}




@media screen and (max-width:1200px) {
    .boxPrin {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .boxPrin {
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    .contenedor2 {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .contenedor2 {
        width: 90%;
    }
}

.btnver {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: 0px solid #151718;
    background: #6846ec;
    color: white;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
}

    .btnver:hover {
        background: #2bebc8;
    }




.indicador {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    padding: 20px;
    padding-right: 0px;
}

.indicador2 {
    color: #2bebc8;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    padding: 30px;
    float :right;
    width: 100%;
    padding-top: 0px;

}

.departamento {
    color: #2bebc8;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.tituloevaluacion {
    line-height: 40px;
    background-color: #151718;
    border: 2px solid #151718;
    border-radius: 6px;
    color: #2bebc8;
    width: 28%;
    font-size: 30px;
    padding: 10px;
    font-weight: 600;
}

.unoportres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    margin-bottom: 5vw;
}

.seccionuno {
    background: var(--NEGROCLARO);
    color: #FFF;
    padding: 20px;
    width: 63%;
    margin: 20px;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid #27292d;
    border-radius: 5px;
}

    .seccionuno h1 {
        color: #2bebc8;
        background-color: #1e1f23;
        border: solid 2px #1e1f23;
        border-radius: 7px;
        padding: 6px;
        width: 36%;
    }

    .seccionuno div {
        display: block;
        width: 500px;
        line-height: 60px;
    }

    .seccionuno h2 {
        font-size: 18px;
        font-weight: 500;
        display: inline;
        margin-right: 20px;
    }


    .seccionuno .evaluacion {
        display: inline;
        font-weight: 700;
        color: #2bebc8;
        background-color: #1e1f23;
        border: solid 2px #1e1f23;
        border-radius: 7px;
        padding: 10px;
        height: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        width: 100%;
    }

    .seccionuno .componente {
        display: inline;
        font-weight: 700;
        color: #2bebc8;
        background-color: #1e1f23;
        border: solid 2px #1e1f23;
        border-radius: 7px;
        padding: 10px;
        height: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        width: 20%;
    }

    .seccionuno .eje {
        display: inline;
        font-weight: 700;
        color: #2bebc8;
        background-color: #1e1f23;
        border: solid 2px #1e1f23;
        border-radius: 7px;
        padding: 10px;
        height: 20px;
        font-size: 20px;
        width: 20%;
    }

    .seccionuno img {
        display: inline;
        float: right;
        color: #FFF;
        width: 370px;
        height: 280px;
        object-fit: contain;
    }


.secciondos {
    color: #FFF;
    padding: 20px;
    width: 31%;
    margin: 20px;
    font-weight: 500;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #6846ec;
}



    .secciondos h2 {
        margin-bottom: 10px;
        width: 60%;
        color: #FFF;
        padding: 6px;
        text-align: left;
        font-size: 34px;
    }

    .secciondos i {
        display: inline;
        float: right;
    }

    .secciondos .porcentaje {
        font-size: 70px;
        font-weight: 800;
        margin-left: 10px;
    }

    .secciondos:hover {
        background: #2bebc8;
        color: #151718;
    }

    .secciondos:hover h2 {
        color: #151718;
    }

    .secciondos:hover i {
        color: #151718;
    }


    .alinear {
        margin-top: -20px;
    }

    .tresporzona i {
        display: inline;
        float: right;
        color: #6846ec;
    }

    .tresporzona h1 {
        font-weight: 400;
        font-size: 25px;
        color: white;
    }

    .num {
        font-weight: 800;
        font-size: 30px;
        color: #FFF;
    }

    .tresporzona {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 210px;
    }


    .zona {
        background: var(--NEGROCLARO);
        color: #FFF;
        padding: 20px;
        width: 31%;
        margin: 20px;
        margin-right: 8px;
        font-weight: 500;
        box-sizing: border-box;
        border: 3px solid #27292d;
        border-radius: 5px;
        height: 150px;
    }


    .zona:hover {
        background: #6846ec;
        transform: scale(1.02);
        border-color: #6846ec;
        color: white;
    }

    .zona :hover i {
        color: white;
    }

.title{
    color: white;
    text-align: center;
    display: inline;
}

.cincoporzona {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
}

.cincozona {
    background: var(--MORADO);
    color: #fff;
    padding: 20px;
    padding-top: 15px;
    width: 17.9%;
    height: 175px;
    margin: 20px;
    margin-right: 0px;
    margin-left: 15px;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid none;
    border-radius: 7px;
    margin-right: 15px;
    background: url(../Images/4emu.gif);
    background-color: #212125;
    background-size: 100% 80px;
    background-position: top right;
    background-repeat: no-repeat;
    filter: hue-rotate(-12deg) brightness(120%);
}


    .cincozona h1 {
        display: inline;
        background-color: rgba(30, 31, 35, 0.8);
        padding: 5px;
        border-radius: 8px;
        border: 2px solid transparent;
        margin-top: 10px;
    }

    .cincozona i {
        float: left;
        display: inline;
        padding: 8px;
    }

    .cincozona h4 {
        margin-bottom: 0px;
        font-weight: 400;
    }

.componentetotal {
    float: right;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.cincozona:hover {
    border: 3px solid none;
    border-radius: 7px;
    margin-right: 15px;
    background-color: rgba(30, 31, 35, 0.8);
    transform: scale(1.03);
    background-size: 100% 100%;
    filter: hue-rotate(70deg) brightness(85%) contrast(145%);
}

.Background {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

iframe {
    border: 3px solid #27292d;
    border-radius: 10px;
}

.btnCerrar {
    background-color: #e10049;
    font-weight: 700;
    color: #FFF;
    padding: 5px;
    border: 2px solid #e10049;
    border-radius: 5px;
    font-size: 16px;
    font-family: Poppins;
    width: 25%;
    display: inline-block;
}

    .btnCerrar:hover {
        background-color: #AD073D;
    }

.btnEnviar {
    background-color: #6846ec;
    font-weight: 700;
    color: #FFF;
    padding: 5px;
    border: 2px solid #6846ec;
    border-radius: 5px;
    font-size: 18px;
    font-family: Poppins;
    width: 20%;
    text-align: center;
    position: absolute;
    top: 1850px;
    left: 850px;
}

.btnEnviar:hover {
    background-color: #2bebc8;
    border-color: #2bebc8;
    color: #151718;
}

.btnEnviar2 {
    background-color: #2bebc8;
    font-weight: 700;
    color: #151718;
    padding: 5px;
    border: 2px solid #2bebc8;
    border-radius: 5px;
    font-size: 16px;
    font-family: Poppins;
    width: 45%;
    display: inline-block;
}

    .btnEnviar2:hover {
        background-color: #6846ec;
        border-color: #6846ec;
        color: #fff;
    }

